USE [InsertImagesDatabase]
GO
/****** Object:  Table [dbo].[EventAttachments]    Script Date: 1/17/2024 3:44:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventAttachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NULL,
	[FileContent] [varbinary](max) NULL,
	[FileExtention] [nchar](10) NULL,
	[FileBaseName] [nvarchar](max) NULL,
 CONSTRAINT [PK_EventAttachments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 1/17/2024 3:44:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 1/17/2024 3:44:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FileContents] [varbinary](max) NULL,
	[FileName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EventAttachments] ON 

SET IDENTITY_INSERT [dbo].[EventAttachments] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([id], [Description], [StartDate]) VALUES (1, N'CPR Training', CAST(N'2016-06-18T22:34:09.0000000' AS DateTime2))
INSERT [dbo].[Events] ([id], [Description], [StartDate]) VALUES (2, N'Entity Framework 101', CAST(N'2016-09-01T21:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Table1] ON 

SET IDENTITY_INSERT [dbo].[Table1] OFF
GO
ALTER TABLE [dbo].[EventAttachments]  WITH CHECK ADD  CONSTRAINT [FK_EventAttachments_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([id])
GO
ALTER TABLE [dbo].[EventAttachments] CHECK CONSTRAINT [FK_EventAttachments_Events]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Match event to a file attachement' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EventAttachments', @level2type=N'CONSTRAINT',@level2name=N'FK_EventAttachments_Events'
GO
USE [master]
GO
